*{
	outline: none;
}
.desc{
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
}
.button{
	display: inline-block;
	line-height: 36px;
	padding: 0 20px;
	font-size: 18px;
	background: green;
	color: #fff;
	text-decoration: none;
	border-radius: 6px;
}
.rezult{
	text-align: center;
	margin-top: 30px;
	font-size: 18px;
	color: green;
}
.rezult.error{
	text-align: center;
	color: red;
}